<a href="https://colab.research.google.com/github/leeebs/Python/blob/main/for%2C%20if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1,2,3,4,5]
for i in a:
  print(i, i*2)

1 2
2 4
3 6
4 8
5 10

- **문자열의 아이템 출력하기**
  - 문자열의 경우 순회 가능, 리스트와 유사하게 순회 가능

In [2]:
a ='hello world'
for i in a:
  print(i)

h
e
l
l
o

w
o
r
l
d

- **리스트 아이템 출력하기**

In [3]:
a = [1,3,4,6,7,8]
for i in a:
  if i%2==0:
    print(i/2)
  else:
    print(i+1)

2
4
2.0
3.0
8
4.0

- **dict의 아이템 출력하기**
  - dictionaly의 경우 기본적으로 순회하게 되면 key 값을 참조
  - keys() 함수를 이용하여 key 값만 순회 가능
  - values() 함수를 이용하여 value 값만 순회 가능
  - items() 함수를 이용하여 tuple 형태로 key, value 순회 가능

In [10]:
a = {'korea': 'seoul', 'japen': 'tokyo', 'canada': 'otawa'}
for i in a:
  print(i, a[i])

for key in a:
  print(key)

for value in a.values():
  print(value)

for k, v in a.items():
  print(k, v)

korea seoul
japen tokyo
canada otawa
korea
japen
canada
seoul
tokyo
otawa
korea seoul
japen tokyo
canada otawa

- **for에서 index 사용하기**
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 사능(enumerate 함수 이용)



```
a = [1,2,3,4,5]
for i, val in enumerate(a):
  print i, val
```

In [12]:
a = [1,2,3,4,5]
for index, num in enumerate(a):
  if index>3:
    print(index, num)

4 5

**break**
  - for 문의 경우에도 특정 조건일 때, loop 종료 가능

In [16]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
  if num < 80:
    break
  print(num)

100
90
80

**continue**
  - 해당 아이템을 건너 뛰고 싶을 때 사용

In [18]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
  if num >= 60 and num <=70:
    continue
  print(num)

100
90
80
50

**loop 중첩**
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드 안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는만큼 반복수행 됨
  - 또한 중첩의 경우 무한히 가능

In [20]:
a = [1,2,4]
for i in a:
  for j in a:
    print(i*j)

1
2
4
2
4
8
4
8
16

In [24]:
for i in range(1,10):
  for j in range(1,10):
    print(i*j)

1
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

**collection의 길이**
  * len() 내장함수로 계산 가능
  * 내장함수란 파이썬 내부에 구현되어 있어서, import 하지 않고도 사용 가능한 함수
  * abs, len, type, range 등이 있음

In [27]:
a =[1,2,3,4,5]
len(a)
len('hello world')

11

In [29]:
a = list(range(1, 20))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

**if&for 연습문제**
  1. 구구단을 2-9단까지 출력하시오
  2. 1-100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오
  3. a = [22,1,3,4,7,98,21,55,87,99,19,20,45]에서 최대값과 최소값을 찾으시오
  4. a = [22,1,3,4,7,98,21,55,87,99,19,20,45]에서 평균을 구하세요

In [34]:
x = 2
while x <= 9:
  y = 1
  while y <= 9:
    print(x*y)
    y += 1
  x += 1

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [35]:
for i in range(1, 101):
  if i%2 == 0 or i%11 == 0:
    print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [36]:
# sort 함수(정렬 사용시)
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]
a.sort()
a[0], a[-1]

(1, 99)

In [37]:
# 처음 만나는 값을 최소 값으로 가정
# 그리고 그 후 숫자를 만날때마다 현재 최소값보다 그 숫자가 작으면 최소값을 그 숫자로 업데이트

_min = a[0]
for x in a:
  if x<_min:
    _min=x
print(_min)

1

In [38]:
_max = a[0]
for x in a:
  if x>_max:
    _max=x
print(_max)

99

In [39]:
_min = a[0]
_max = a[0]
for x in a:
  if x<_min:
    _min=x
  if x>_max:
    _max=x
print(_min, _max)

1 99

In [40]:
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

In [41]:
#while
sum=0
i=0
while i<len(a):
  sum += a[i]
  i+=1

print(sum/len(a))

37.0

In [45]:
#for
sum = 0
for i in a:
  sum+= i

print(sum/len(a))

37.0